@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap");
/*************************
varaibles
*************************/
/* rgb(48,54,51) */
/* rgb(139, 232, 203)  */
/* rgb(156, 122, 151) */
/************
mixins
************/
/************
basic styles
************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #303633;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.headings {
  font-size: 2.5rem;
}

.headings::after {
  display: block;
  content: "";
  height: 2px;
  width: 80px;
  background: #9c7a97;
  margin: 20px 0 30px 0;
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 54, 51, 0.9)), to(rgba(156, 122, 151, 0.9))), url(img/bg.jpg);
  background-image: linear-gradient(rgba(48, 54, 51, 0.9), rgba(156, 122, 151, 0.9)), url(img/bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-right: 60px;
}

@media (max-width: 768px) {
  aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    height: 90vh;
  }
}

aside img {
  width: 40%;
  border-radius: 50%;
  border: 5px solid #9c7a97;
}

aside img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

aside h1 {
  font-weight: 300;
  padding: 30px 0;
  color: #fff;
}

aside h1 span {
  color: #8bebcd;
  font-weight: 700;
  letter-spacing: 2px;
}

aside a {
  color: #8bebcd;
  margin-left: 20px;
  font-size: 2rem;
}

aside a:hover {
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 40px;
  height: 100vh;
  overflow: scroll;
}

@media (max-width: 768px) {
  .main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    overflow: unset;
  }
}

.main .about button {
  padding: 10px 40px;
  border: 2px solid #8bebcd;
  color: #8bebcd;
  background: transparent;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 1rem;
}

.main .about button:hover {
  border: 2px solid #9c7a97;
  cursor: pointer;
  color: #9c7a97;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .about::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background: #f2f2f2;
  margin: 50px 0 20px 0;
}

.main .portfolio .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .portfolio .row .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .main .portfolio .row .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.main .portfolio .row .col img {
  width: 100%;
}

.main .portfolio .row .col img:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .portfolio .row .col h4 {
  font-size: 1.7rem;
  color: #9c7a97;
}

.main .portfolio button {
  padding: 10px 40px;
  border: 2px solid #8bebcd;
  color: #8bebcd;
  background: transparent;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 1rem;
}

.main .portfolio button:hover {
  border: 2px solid #9c7a97;
  cursor: pointer;
  color: #9c7a97;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .portfolio::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background: #f2f2f2;
  margin: 50px 0 20px 0;
}

.main footer {
  padding-bottom: 40px;
}

.main footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main footer .row form {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .main footer .row form {
    padding-right: 0;
  }
}

.main footer .row form input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #f2f2f2;
}

@media (max-width: 768px) {
  .main footer .row form input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.main footer .row form textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
}

.main footer .row form button {
  padding: 10px 40px;
  border: 2px solid #8bebcd;
  color: #8bebcd;
  background: transparent;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 1rem;
  background: #9c7a97;
  border: 2px solid #9c7a97;
  color: #fff;
}

.main footer .row form button:hover {
  border: 2px solid #9c7a97;
  cursor: pointer;
  color: #9c7a97;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main footer .row form button:hover {
  background: #8bebcd;
  border: 2px solid #8bebcd;
  color: #fff;
}

.main footer .row .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main footer .row .contact ul {
  list-style: none;
  padding-left: 20px;
  line-height: 2.5;
}

.main footer .row .contact ul li {
  font-size: 1.2rem;
}

.main footer .row .contact ul i {
  color: #9c7a97;
}
/*# sourceMappingURL=style.css.map */